@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Shared style */

body {
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  background-color: #ff900e;
  border-radius: 8px;
  color: white;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  padding: 20px 25px;
  border: none;
}

.para {
  font-size: 1.6rem;
  color: #727272;
  line-height: 26px;
  margin-bottom: 32px;
}
.head-title {
  color: #131313;
  font-size: 4.5rem;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 24px;
}

.align {
  width: 75%;
  max-width: 1920px;
  margin: 0 auto;
}

/* Custom Style */

/* Header Section */

header {
  background-color: #ff900e10;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
}

.nav-link {
  margin-left: 60px;
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  color: #424242;
  font-size: 1.8rem;
  font-weight: 500;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-content {
  margin-top: 100px;
  max-width: 862px;
  text-align: center;
  margin-bottom: 50px;
}

.hero-content h1 {
  color: #131313;
  font-size: 6.4rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.hero-image img {
  width: 100%;
  margin-bottom: 50px;
}

/* Quick List Section */

.quick-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 73px;
  margin-top: 85px;
  margin-bottom: 130px;
}
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.images img {
  max-width: 342px;
}

.quick-content {
  max-width: 537px;
}
.head-title > .orange {
  color: #ff900e;
  font-weight: bold;
  font-size: 4.5rem;
}

.head-title > span {
  color: #727272;
  min-width: 500;
  font-size: 4.5rem;
}

/* Features Section */

.features-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 146px;
}

.features-section p {
  max-width: 586px;
}
.cards {
  padding: 32px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.09);
  max-width: 586px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.card-head {
  font-size: 2rem;
  color: #131313;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-img img {
  width: 100%;
}

.experience-btn .btn-primary {
  font-size: 6.4rem;
  font-weight: bold;
  margin-top: -100px;
  margin-left: -100px;
  line-height: 44px;
}
.experience-btn .btn-primary span {
  font-size: 2.5rem;
  font-weight: 500;
}

/* Facts Section */

.facts-cards-box {
  display: flex;
  gap: 124px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 180px;
}

.facts .para {
  max-width: 542px;
}

.fact-cards {
  border: 1px solid #ff900e;
  padding: 45px 35px;
  max-width: 241px;
  min-height: 241px;
  border-radius: 8px;
}
.fact-card {
  text-align: center;
}
.count {
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 5px;
}

.card-description {
  font-size: 2rem;
  font-weight: 500;
  color: #727272;
  margin-top: 10px;
}
@media screen and (max-width: 576px) {
  .head-title {
    font-size: 2.5rem;
  }
  .nav-link {
    margin-left: 20px;
  }
  ul {
    flex-direction: column;
  }
  .images {
    grid-template-columns: 1fr;
  }
  .quick-section {
    flex-direction: column;
  }
  .align {
    width: 95%;
  }
  .quick-content {
    max-width: 337px;
  }
  .features-section {
    flex-direction: column;
    gap: 46px;
  }
  .cards {
    max-width: 386px;
  }
  .facts-cards-box {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
}
